@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Light mode color configuration 
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #002e82;
  --body: #1f2024;
}

/* 
Dark mode color configuration 
*/

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
} */
